In [3]:
import pandas as pd

## Series and DataFrame

In [4]:
series = pd.Series(["BMW", "Marcedes", "Ferrari"])
#Series -> 1-Dimensional
series

0         BMW
1    Marcedes
2     Ferrari
dtype: object

In [5]:
colors = pd.Series(["Black", "Silver", "Red"])
colors

0     Black
1    Silver
2       Red
dtype: object

In [6]:
#DataFrame -> 2-Dimensional
car_data = pd.DataFrame({"Brand": series, "Color": colors})
car_data

      Brand   Color
0       BMW   Black
1  Marcedes  Silver
2   Ferrari     Red

In [7]:
#import from source
car_sales = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [8]:
#Export
car_sales.to_csv("exported_car_sales.csv", index=False) 
#if index=False is not set, index (0, 1, ..) will be considered as a seperate column in exported file
exported_car_sales = pd.read_csv("exported_car_sales.csv")
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

---

## Describe Data,

<p>Attribute vs Function is Attribute doesn't have parenthesis at the end but Function has</p>

In [9]:
#Attributes
car_sales.dtypes #shows the data types of columns

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [10]:
car_sales.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [11]:
car_sales.index

RangeIndex(start=0, stop=10, step=1)

In [13]:
#Functions
car_sales.describe() #works only for numeric data

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [14]:
# Statistical Functions (mean, median, sum etc.)
car_sales.mean()

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

In [15]:
car_sales["Doors"].sum() #only for Doors column

40