In [3]:
import pandas as pd

In [4]:
series = pd.Series(["BMW", "Marcedes", "Ferrari"])
#Series -> 1-Dimensional
series

0         BMW
1    Marcedes
2     Ferrari
dtype: object

In [5]:
colors = pd.Series(["Black", "Silver", "Red"])
colors

0     Black
1    Silver
2       Red
dtype: object

In [9]:
#DataFrame -> 2-Dimensional
car_data = pd.DataFrame({"Brand": series, "Color": colors})
car_data

      Brand   Color
0       BMW   Black
1  Marcedes  Silver
2   Ferrari     Red

In [11]:
#import from source
car_sales = pd.read_csv("https://raw.githubusercontent.com/mrdbourke/zero-to-mastery-ml/master/data/car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

In [15]:
#Export
car_sales.to_csv("exported_car_sales.csv", index=False) 
#if index=False is not set, index (0, 1, ..) will be considered as a seperate column in exported file
exported_car_sales = pd.read_csv("exported_car_sales.csv")
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00